<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Фокус-помощник</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container" style="text-align:center;">

    <h1>🧠 Фокус-помощник</h1>

    <p class="subtitle">
        Определи, почему ты откладываешь дела<br>
        и получи персональные рекомендации
    </p>

    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
         style="width:120px; margin:20px 0;">

    <a href="/test">
        <button style="font-size:18px;">🚀 Начать тест</button>
    </a>

</div>

</body>
</html>